body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:darkolivegreen;
  }

h1 {
    color:rgb(236, 173, 12)
}

h2 {
    color:rgb(236, 173, 12)
}

h4 {
    color:midnightblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

div.buttons {
    color:blueviolet
}

img {
    margin:auto;
    display: block;
    width:  400px;
    height: 400px;
}

div.information {
    border-style: solid;
    border-color: coral;
    background-color:cornsilk;
    list-style: none;
    margin-right: 20%;
    margin-left: 20%;
}

ul {
    list-style: none;
}