body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

h1 {
    color:darkgoldenrod
}

h2 {
    color:darkgoldenrod
}

h4 {
    color: blue;
    font-family: Georgia;
  }

div.buttons {
    color:blueviolet
}

img {
    margin:auto;
    display: block;
    width:  200px;
    height: 200px;
}

div.information {
    border-style: solid;
    border-color: coral;
    background-color:cornsilk;
}